.custom-select{
    &__container {
        display: inline-block;
        min-width: 300px;
        text-align: center;
        position: relative;
    }

    &__text{
        font-size: 18px;
        font-weight: 500;
        background-color: #5247ed;
        padding: 8px 30px;
        border-bottom: 1px solid #5247ed;
        cursor: pointer;

        &::after{
            content: "";
            position: absolute;
            right: 10px;
            top: 16px;
            border: 7px solid transparent;
            border-color: #fff transparent transparent transparent;
        }

        &.active{
            &::after{
                top: 8px;
                border-color: transparent transparent #fff transparent;
            }
        }
    }

    &__options{
        position: absolute;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
  }
  
  li {
    list-style-type: none;
    padding: 6px 20px;
    background: #5247ed;
    border-bottom: 1px solid #5247ed;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background-color: #5247ed;
      color: #ffffff;
    }
  }