.input{
    text-decoration: none;
    padding: 5px 20px;
    outline: none;
    border: 1px solid #5247ed;
    min-width: 200px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    text-align: center;
}