.input{
    text-decoration: none;
    padding: 5px 0;
    max-width: 150px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    text-align: center;

    &::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    &__container{
        display: flex;
        justify-content: center;
        border: 1px solid #5247ed;
        min-width: 200px;
        position: relative;
    }
}