.calculator{
    &__contaier{
        display: flex;
        flex-direction: column;
    }

    &__text{
        font-size: 24px;
        font-weight: 600;
    }

    &__button{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}